* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  padding: 0 32px;
  margin: auto;
}

a {
  text-decoration: none;
}

.sect2 {
  width: 100%;
  margin: 100px 0;
}
.sect2 .sect2con {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sect2 .sect2con .top {
  width: 70%;
  text-align: center;
}
.sect2 .sect2con .top h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.sect2 .sect2con .top p {
  color: gray;
  font-size: 22px;
}
.sect2 .sect2con #search {
  width: 200px;
  height: 30px;
  margin-top: 50px;
  padding-left: 5px;
}
.sect2 .sect2con .card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.sect2 .sect2con .card div {
  flex: 1 1 calc(33% - 30px);
  max-width: calc(33% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 20px;
  margin-top: 100px;
  background-color: #fff3f2;
  position: relative;
  transition: all 0.4s ease-out;
  z-index: 1;
}
.sect2 .sect2con .card div::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background: #E9FFFD;
  transition: 0.6s;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}
.sect2 .sect2con .card div:hover::before {
  height: 100%;
}
.sect2 .sect2con .card div img {
  width: 20%;
  height: auto;
}
.sect2 .sect2con .card div a {
  font-size: 24px;
  color: black;
}
.sect2 .sect2con .card div p {
  font-size: 18px;
  color: gray;
}
.sect2 .sect2con .card div span {
  width: 90%;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sect2 .sect2con .card div span .delete, .sect2 .sect2con .card div span .update {
  width: 30%;
  height: 30px;
  border: none;
  color: white;
}
.sect2 .sect2con .card div span a {
  width: 30%;
}
.sect2 .sect2con .card div span a button {
  width: 100%;
  height: 30px;
  border: none;
  color: white;
}
.sect2 .sect2con .card div span .update {
  background-color: blue;
}
.sect2 .sect2con .card div span .delete {
  background-color: green;
}
.sect2 .sect2con .card div span .details {
  background-color: red;
}
.sect2 .sect2con .load {
  width: 150px;
  height: 30px;
  border: none;
  margin-top: 30px;
  background-color: blue;
  color: white;
  cursor: grab;
}
.sect2 .sect2con .load:active {
  background-color: red;
  cursor: grabbing;
}

.updated {
  display: none;
  flex-direction: column;
  top: calc(60% - 240px);
  left: calc(50% - 190px);
  position: fixed;
  z-index: 11111;
  width: 380px;
  height: 330px;
}

form {
  background: linear-gradient(360deg, rgb(123, 87, 190) 0%, rgb(80, 157, 78) 30%, rgb(0, 209, 255) 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 20px;
}

form p {
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  outline: none;
}

.img2 {
  width: 60px;
  height: 60px;
  border-radius: 99999999px;
  border: 1px solid black;
}

.img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9999999px;
}

#submit {
  background-color: rgb(85, 6, 195);
  padding: 6px 6px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 12px;
}/*# sourceMappingURL=index.css.map */